body {
  background: #333;
  margin: 2rem;
}
#video-compare-container2 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container2 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper2 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper2 video {
  width: 200%;
  postion: absolute;
  height: 100%;
}