.u-section-1 .u-sheet-1 {
  min-height: 1050px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-2 .u-group-1 {
  width: 782px;
  min-height: 208px;
  margin: 75px auto 0 179px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-size: 4.5rem;
  margin: 28px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-2 .u-image-1 {
  height: 593px;
  width: 1220px;
  margin: 166px -40px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-2 .u-group-1 {
    width: 645px;
    margin-top: 129px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    height: 457px;
    margin-top: 148px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-2 .u-group-1 {
    width: 494px;
    margin-top: 284px;
    margin-left: 323px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -315px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 372px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-left: 25px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -403px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 469px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-3 .u-image-1 {
  width: 881px;
  height: 632px;
  filter: brightness(0.65);
  animation-duration: 1000ms;
  margin: 60px auto 0 -161px;
}

.u-section-3 .u-group-1 {
  width: 590px;
  min-height: 366px;
  margin: -499px auto 193px 711px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 103px 0 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 290px;
    margin-left: -80px;
  }

  .u-section-3 .u-group-1 {
    margin-right: -50px;
    margin-bottom: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 360px;
    margin-top: -384px;
    margin-left: 211px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 387px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 244px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -111px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-4 .u-image-1 {
  width: 1663px;
  height: 937px;
  margin: 50px -622px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 782px;
  min-height: 310px;
  margin: -875px auto 60px -191px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  line-height: 1;
  font-size: 3.75rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  margin: 18px -10px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-4 .u-image-1 {
    width: 1040px;
    height: 585px;
    margin-top: 146px;
    margin-right: -193px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -693px;
    margin-left: -50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 402px;
    margin-right: 0;
    margin-left: 210px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -343px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -241px;
    margin-left: 10px;
    margin-right: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-image-1 {
    width: 570px;
    height: 302px;
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -242px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 39px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -267px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -210px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: 238px;
    margin-top: -245px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-5 .u-image-1 {
  width: 1127px;
  animation-duration: 1000ms;
  filter: brightness(0.85);
  height: 1070px;
  margin: 58px auto 0 -294px;
}

.u-section-5 .u-group-1 {
  width: 811px;
  min-height: 445px;
  margin: -937px -341px 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 103px 0 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 20px 0 76px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1593px;
  }

  .u-section-5 .u-image-1 {
    width: 1178px;
    margin-top: 273px;
    margin-left: -119px;
    margin-right: -119px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -1070px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-5 .u-image-1 {
    height: 654px;
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: -654px;
    margin-left: 210px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-5 .u-image-1 {
    height: 491px;
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -491px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-5 .u-image-1 {
    height: 309px;
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -309px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-6 .u-image-1 {
  width: 937px;
  height: 376px;
  margin: 498px -367px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 325px;
  height: 207px;
  margin: -570px -175px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 779px;
  min-height: 415px;
  background-image: none;
  margin: -192px auto 60px -226px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 103px 0 0 20px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 76px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-top: 617px;
    margin-right: -228px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -533px;
    margin-right: -91px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-top: -465px;
    margin-left: -39px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 37px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-top: 20px;
    margin-right: -91px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 217px;
    margin-top: 170px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -288px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -439px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 137px;
    margin-top: 82px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -8px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -391px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-7 .u-video-1 {
  height: 641px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 84px 245px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-video-1 {
    margin-top: 179px;
  }

  .u-section-7 .u-text-1 {
    width: 651px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-8 .u-video-1 {
  width: 993px;
  height: 558px;
  margin: 326px -367px 0 auto;
}

.u-section-8 .u-group-1 {
  width: 786px;
  min-height: 486px;
  background-image: none;
  margin: -525px auto 60px -271px;
}

.u-section-8 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 28px 0 0 20px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.875rem;
  margin: 16px 152px 0 393px;
}

.u-section-8 .u-text-4 {
  font-size: 1.875rem;
  margin: -36px 461px 0 20px;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 2px 62px 0 393px;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -140px 440px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-video-1 {
    width: 1040px;
    height: 582px;
    margin-top: 479px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-8 .u-group-1 {
    min-height: 480px;
    margin-top: -1045px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    font-size: 0.875rem;
    margin-left: 45px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: -54px;
    margin-right: 500px;
    margin-left: 45px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 7px;
    margin-right: 95px;
  }

  .u-section-8 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -79px;
    margin-right: 423px;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-video-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
    min-height: 414px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 119px;
    margin-left: 360px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 467px;
    margin-left: 12px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 62px;
    margin-left: 360px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 440px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-video-1 {
    width: 540px;
    margin-top: 441px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -755px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 17px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -130px;
    margin-right: 29px;
    margin-left: 270px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 299px;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-video-1 {
    width: 340px;
    margin-top: 416px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -730px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-top: 184px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -85px;
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 99px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 22px;
    margin-left: 0;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  width: 651px;
  margin: 184px auto 0;
}

.u-section-9 .u-video-1 {
  height: 641px;
  margin-top: 97px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 865px;
  }

  .u-section-9 .u-video-1 {
    margin-top: -737px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-video-1 {
    margin-top: -737px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-9 .u-video-1 {
    margin-top: -905px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-10 .u-video-1 {
  width: 988px;
  height: 556px;
  margin: 60px -294px 0 auto;
}

.u-section-10 .u-group-1 {
  width: 797px;
  min-height: 365px;
  background-image: none;
  margin: -273px auto 60px -243px;
}

.u-section-10 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  margin: 53px 10px 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 26px 76px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-10 .u-video-1 {
    width: 1036px;
    height: 585px;
    margin-top: 529px;
    margin-right: -46px;
    margin-left: -50px;
  }

  .u-section-10 .u-group-1 {
    margin-top: -966px;
    margin-left: 69px;
  }

  .u-section-10 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-10 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-video-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-10 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-10 .u-video-1 {
    width: 540px;
  }

  .u-section-10 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-1 {
    margin-top: 262px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-10 .u-video-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-11 .u-group-1 {
  width: 845px;
  min-height: 493px;
  background-image: none;
  margin: 359px -275px 0 auto;
}

.u-section-11 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 103px 0 0 20px;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 20px 0 49px;
}

.u-section-11 .u-video-1 {
  width: 856px;
  height: 486px;
  margin: -490px auto 60px -286px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 63px;
    margin-right: auto;
  }

  .u-section-11 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-11 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }

  .u-section-11 .u-video-1 {
    margin-top: -136px;
    margin-right: 24px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 720px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-11 .u-video-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-11 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }

  .u-section-11 .u-video-1 {
    width: 540px;
    margin-top: -492px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    margin: 6px 6px 55px;
  }

  .u-section-11 .u-video-1 {
    width: 340px;
  }
}.u-section-12 {
  background-image: none;
  min-height: 1160px;
}

.u-section-12 .u-group-1 {
  width: 808px;
  background-image: none;
  min-height: 269px;
  margin: 49px auto 0;
}

.u-section-12 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-12 .u-text-1 {
  font-size: 3.75rem;
  margin: 27px 0 0 20px;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 14px 24px 0;
}

.u-section-12 .u-video-1 {
  height: 738px;
  margin: 55px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    margin-top: 70px;
  }

  .u-section-12 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-12 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }

  .u-section-12 .u-video-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2) + 190px);
  }

  .u-section-12 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-12 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    font-size: 3rem;
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-12 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1263px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  width: 650px;
  margin: 222px 245px 0;
}

.u-section-13 .u-image-1 {
  width: 399px;
  height: 224px;
  margin: 71px auto 0 114px;
}

.u-section-13 .u-image-2 {
  width: 348px;
  height: 258px;
  margin: -241px auto 0 678px;
}

.u-section-13 .u-image-3 {
  width: 570px;
  height: 291px;
  margin: 41px auto 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 145px;
    margin-right: 145px;
  }

  .u-section-13 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-13 .u-image-2 {
    height: 257px;
    margin-left: 535px;
  }

  .u-section-13 .u-image-3 {
    margin-left: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-13 .u-image-2 {
    margin-left: 315px;
  }

  .u-section-13 .u-image-3 {
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-13 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-image-1 {
    margin-left: 114px;
  }

  .u-section-13 .u-image-2 {
    margin-left: 192px;
  }

  .u-section-13 .u-image-3 {
    width: 540px;
    height: 276px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 251px;
    margin-top: -208px;
    margin-left: 0;
  }

  .u-section-13 .u-image-3 {
    width: 340px;
    height: 174px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1050px;
}.u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-15 .u-text-1 {
  font-size: 3rem;
  margin: 477px 214px 0;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 90px auto 60px 445px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    width: 712px;
    margin-left: 114px;
    margin-right: 114px;
  }

  .u-section-15 .u-btn-1 {
    margin-top: 136px;
    margin-left: auto;
    padding: 8px 36px 9px 35px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}